<h1>SpaceX Mission Details</h1>
<div style="background-color: #faf0e6;">
    <div style="display: flex; flex-direction: row;">
        <div>
            <img src="{{mission.links.mission_patch_small}}">
        </div>
        <div>
            <h2>Mission - {{ mission.mission_name }}</h2>
            <p>Launch year: {{ mission.launch_year }}</p>
            <h2>Rocket</h2>
            <p>{{ mission.rocket.rocket_name }}</p>
            <p>{{ mission.rocket.rocket_type }}</p>
            <h2>Launch site</h2>
            <p>{{ mission.launch_site.site_name_long }}</p>
        </div>
    </div>
    <div>
        <h2>Launch Details</h2>
        <p>{{ mission.details }}</p>
    </div>
</div>